<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .btn1{
            padding-left: 14em;
            padding: 5px 10px;
            background-color: #484949;
            color: #fff;
            cursor: pointer;
        }
        .btn1 :hover{
            background-color: rgb(33, 124, 21);
        }
    </style>

    <h2>Edit Product</h2>
   <form method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <button class="btn1" type="submit">Save</button>
   </form>
    
</body>
</html>